@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-theme {
  background-color: rgba(0, 0, 0, 0.87)
}

.bg-secondary {
  background: linear-gradient(90deg, rgba(2, 2, 77, 0.47) 0%, rgba(79, 132, 161, 1) 50%, rgba(3, 42, 59, 1) 100%);
}

.bg-secondary-reverse {
background: linear-gradient(90deg, rgba(3,42,59,1) 0%, rgba(79,132,161,1) 50%, rgba(2, 2, 77, 0.47) 100%);
}

.dark-theme .bg-card {
  background-color: rgb(68, 100, 160);
  border-radius: 10px;
}

.dark-theme .faq-div,
.dark-theme .blog-div {
  color: white;
}

.light-theme .faq-div,
.light-theme .blog-div {
  background-color: white;
}

.dark-theme .moon-theme-bg {
  background-color: white;
  color: rgba(24, 23, 23, 0.849);
  padding: 2px;
  border-radius: 7px;
}

.dark-theme .home-div h5,
.dark-theme .home-div p {
  color: white;
}

.dark-theme .nav-mobile-menu {
  background-color: black;
  color: white;
}

.light-theme .nav-mobile-menu {
  color: black;
}

.min-h-custom {
  min-height: 70vh;
}